div#wrapper {
	width:730px;
	margin-left: auto;
    margin-right: auto;
}
div.areaLeft {
	width:200px;
	float:left;
	margin:0 15px 0 0;
}
div.areaRight {
	width:500px;
	float:left;
	margin:0;
}
div.#footer {
	clear: both;
    width: 730px;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

i {
	margin-right: 3px;
}

#gift_box {
	float: left;
	width: 310px;
	height: 270px;
	margin: 10px;
}

#gift_detail {
	margin-top: 10px;
	margin-bottom: 10px;
}

* {
	font-family: arial,sans-serif;
}

	