div#wrapper {
	width:760px;
	margin-left: auto;
    margin-right: auto;
}
div.areaLeft {
	width:245px;
	float:left;
	margin:0 15px 0 0;
}
div.areaRight {
	width:500px;
	float:left;
	margin:0;
}
div.#footer {
	clear: both;
    width: 760px;
}

	